﻿@model Mosaic_ToDo.Models.TodoModel

<td class="col-md-1">@Html.CheckBoxFor(m => m.Complete, new { @class = "bigCheckbox", id = "completedFlag" + Model.TodoId })</td>
<td class="col-md-9">
   <span class="@(Model.Complete ? "completed" : "notCompleted")">
      @Model.TodoText
   </span>
</td>
<td class="col-md-2  text-center">
   @Html.ActionLink("Remove Todo", "Remove", "Todo", new { todoId = Model.TodoId }, new { @class = "btn btn-sm btn-danger" })
</td>