﻿@model Mosaic_ToDo.ViewModels.TodoViewModel

<div class="container todoContainer">
   <div class="row">
      <div class="col"><h2 class="text-center">To Do List</h2></div>
   </div>
   <div class="row" style="margin-bottom:5px">
      @using (Html.BeginForm("Create", "Todo", FormMethod.Post, new { @class = "hpx-100" }))
      {
         <div class="col-md-10 h-100">
            @Html.TextAreaFor(m => m.NewTodoText, new { @required = "true", @placeholder = "Please enter your Todo...", @class = "todoTextArea" })
         </div>
         <div class="col-md-2 h-100 text-center">
            <button type="submit" class="btn btn-warning btn-block btn-lg bigButton">Add</button>
         </div>
      }
   </div>
   <table class="table table-striped">
      @foreach (var todo in Model.Todos)
      {
         <tr id="todo@(todo.TodoId)">
            @{Html.RenderPartial("_TodoModel", todo);}
         </tr>
      }
   </table>
</div>