﻿body {
   padding-top: 50px;
   padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
   padding-left: 15px;
   padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
   max-width: 280px;
}

.todoTextArea {
   width: 100%;
   border-radius: 5px;
   resize: none;
   height: 100%;
}

.h-100 {
   height: 100%;
}

.hpx-100 {
   height: 100px;
}

.table tbody > tr > td {
   vertical-align: middle;
}

.todoContainer {
   background-color: #fcf6d1;
   border-radius: 5px;
}

.bigCheckbox {
   width: 22px;
   height: 22px;
}

.bigButton {
   height: 100%;
}

.completed {
   font-style: italic;
   text-decoration: line-through;
}

.notCompleted {
   font-size: larger;
}
